# SSH server keys
HostKey /home/span/.ssh/hostKeys/ssh_host_dsa_key
HostKey /home/span/.ssh/hostKeys/ssh_host_ecdsa_key
HostKey /home/span/.ssh/hostKeys/ssh_host_ed25519_key
HostKey /home/span/.ssh/hostKeys/ssh_host_rsa_key

AuthorizedKeysFile	.ssh/authorized_keys

PermitRootLogin no
PasswordAuthentication no
UsePrivilegeSeparation no

TCPKeepAlive yes
ClientAliveInterval 60
ClientAliveCountMax 10000

GatewayPorts yes

X11Forwarding no
